@using _36_webapp_MVC
@using _36_webapp_MVC.Models
@{
    ViewData["Title"] = "Dashboard Magazziniere";
}

<h2>Benvenuto nella Dashboard Magazziniere</h2>

<ul>
    <li><a asp-controller="" asp-action="Index">Visualizza Prodotti</a></li>
    <li><a asp-controller="" asp-action="Index">Aggiungi nuovo prodotto</a></li>
    <li><a asp-controller="" asp-action="Index">Gestisci Giacenza</a></li>
</ul>