@{
 // Prodotto Prodotto = Model.Prodotto;
}

<!-- Button trigger modal -->
<button type="button" class="btn red" data-bs-toggle="modal" data-bs-target="#exampleModal">
<i class="fa-solid fa-trash" style="color:white"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Vuoi eliminare?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <h1>Vuoi eliminare @Model.Prodotto.Nome?</h1>
     
    <form method="post">
            @* <input type="hidden" asp-for="Prodotto.Id"> *@
        <button type="submit" class="btn btn-primary my-3 red">Elimina</button>
      </form>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
