@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Benvenuto</h1>
    <p>Questa è lamia prima WebApp!  <a href="https://github.com/dasilvatefaele">Visita il mio GitHub</a>.</p>
    @* <p>Questa è lamia prima WebApp!  <a href="https://learn.microsoft.com/aspnet/core">Visita il mio GitHub</a>.</p> *@
</div>
