@model _36_webapp_MVC.ViewModels.LoginViewModel

<h2>Login</h2>

<form asp-action="Login" method="post">
    <div>
        <label>Email</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" type="password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <input asp-for="RememberMe" type="checkbox" /> Ricordami
    </div>
    <button type="submit">Accedi</button>
</form>

Views/Account/Register.cshtml