@page
@model AggiungiProdottoModel
@namespace _04_webapp_sqlite.Prodotti
@{
    ViewData["Title"] = "Aggiungi Prodotto";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
     @section Scripts
    {
        <partial name="_ValidationScriptsPartial"/>
    }
    <form method="post">
        <div class="form-control">
            <label asp-for="Prodotto.Nome">Nome</label>
            <input type="text" class="form-control" asp-for="Prodotto.Nome" />
            <span asp-validation-for="Prodotto.Nome" class="text-danger"></span>
        </div>
        <div class="form-control">
            <label asp-for="Prodotto.Prezzo">Prezzo</label>
            <input type="number" class="form-control" asp-for="Prodotto.Prezzo" />
            <span asp-validation-for="Prodotto.Prezzo" class="text-danger"></span>
        </div>
        <div class="form-control">
            <label asp-for="Prodotto.CategoriaId">Categoria</label>
            <div>
                <select asp-for="Prodotto.CategoriaId" asp-items="Model.CategorieTendina">
                    <option value="">--- SELEZIONA CATEGORIA ---</option>
                </select>
                <span asp-validation-for="Prodotto.CategoriaId" class="text-danger"></span>

            </div>
        </div>
        <div class="form-control">
            <label asp-for="Prodotto.FornitoreId">Categoria</label>
            <div>
                <select asp-for="Prodotto.FornitoreId" asp-items="Model.FornitoriSelectList">
                    <option value="">--- SELEZIONA CATEGORIA ---</option>
                </select>
                <span asp-validation-for="Prodotto.FornitoreId" class="text-danger"></span>

            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-primary my-3">Aggiungi</button>
        </div>
    </form>
</div>