@page
@model Elimina
@namespace _04_webapp_sqlite.Prodotti
@{
    ViewData["Title"] = $"Vuoi eliminare '{Model.Prodotto.Nome}'?";
}
<h1>@ViewData["Title"] </h1>

<div class="container">
    <h1></h1>
    <form method="post">
        <div class="d-inline">
            <input type="hidden" asp-for="Prodotto.Id">
            <button type="submit" class="btn btn-primary my-3 red d-inline">Elimina</button>
            <a asp-page="/Prodotti/Index"><button class="btn btn-primary my-3 d-inline">Indietro</button></a>
        </div>
    </form>
</div>
