@page
@model IndexModel
@{
    ViewData["Message"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Benvenuto nell'applicazione</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@

<div class="row ">
            <div class="col-lg-6 col-sm-12 " style="position: relative;">
                <div class="d-flex justify-content-center justify-content-lg-end pe-lg-5">
                    <img src="./img/elements/customer.png" style="background-size:contain; height: 80vh; ">
                </div>
                <div class="d-block d-lg-none">
                    <div class="d-flex justify-content-center">
                        <div class="btn btn-primary col-4 p-4 "
                            style="position: absolute; top: 60%; display: inline-block; white-space: nowrap; width: fit-content;">
                            <!-- compare da lg in giù-->
                            Sfoglia la nostra collezione
                        </div>
                    </div>
                </div>
            </div>

            <p>@ViewData["errore"]</p>
            <div class="col-lg-6 col-sm-12 d-none d-lg-block">
                <div class="container p-4">
                    <div class="d-none d-lg-block">
                        <div class="row " style="height: 18vh;"></div>
                    </div>
                    <div class="row">
                        <div class="mb-3" id="hero-phrase">
                            <h1>La musica di un tempo, </h1>
                            <h1>la tecnologia di oggi</h1>
                        </div>
                    </div>
                    <div class="row">
                        <h4 class="mb-4">Un nuovo modo di ascoltare la musica</h4>
                        <br>
                        <div class="d-none d-lg-block">
                            <p>Con un paio di TAP i tuoi vinili preferiti arriveranno a casa tua,<br>oppure assapora il
                                fascino
                                del vinile col nostro player!</p>
                        </div>
                        <div class="col-12 col-lg-5">
                            <div class="mt-4 ">
                                <div class="btn btn-primary">
                                    <p class="d-flex ps-3 pe-3 pt-1 pb-1 flex-column justify-content-center"
                                        style="display: inline-block; white-space: nowrap">Sfoglia la nostra collezione
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!-- TASTO ESPLORA (da lg in giù) -->
<div class="col-12 col-lg-9">
    <div class="container w-100">
        <nav class="navbar d-block d-lg-none w-100 ">
            <div class="container-fluid w-100">
                <form class="d-flex w-100" role="search">
                    <input class="form-control me-2 w-100" type="search" placeholder=" Cerca" aria-label="Search"
                        style="border-radius: 80px !important;">
                    <button class="btn" type="submit"><i class="fa-solid fa-magnifying-glass"
                            style="color:lightgray"></i></button>
                </form>
            </div>
        </nav>
    </div>

    <div style="margin: 40px 0px;"></div> <!-- SEPARATORE INVISIBILE -->

    <div class="col-lg-9 col-sm-12 order-2 m-0 p-0">
        <div class="container m-0 p-0">
            <h2>Li abbiamo cercati per te</h2>
        </div>
    </div>

    <div class="separator"></div> <!-- SEPARATORE ESTETICO -->


    <div class="row flex-row justify-content-between "> <!-- SEZIONE DISCHI  -->
        <div class="col-6 col-lg-4 mt-3">
            <div class="card" style="width: auto;">
                <a asp-area="" asp-page="/Prodotti">
                    <img src="./img/products/daft punk.webp" class="card-img-top pt-4" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                        <div class="d-flex flex-column align-items-center">
                            <h4> Daft Punk</h4>
                            <h6>Homework</h6>
                            <h6>2LP Vinyl</h6>
                            <p style="font-weight: 600;">€28.95</p>
                        </div>
                        </p>
                        <div class=" d-flex  justify-content-center align-items-center glass-container mt-4"
                            id="tastoAcquista">
                            <p class="ms-2" style="font-weight: 300; font-size: small;">ORDINA </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="col-6 col-lg-4 mt-3">
            <div class="card" style="width: auto;">
                <img src="./img/products/abbey road the beatles.webp" class="card-img-top pt-4" alt="...">
                <div class="card-body">
                    <p class="card-text">
                    <div class="d-flex flex-column align-items-center">
                        <h4> The Beatles</h4>
                        <h6>Abbey Road</h6>
                        <h6>LP Vinyl</h6>
                        <p style="font-weight: 600;">€31.95</p>
                    </div>
                    </p>
                    <div class=" d-flex  justify-content-center align-items-center glass-container mt-4"
                        id="tastoAcquista">
                        <p class="ms-2" style="font-weight: 300; font-size: small;">ORDINA </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-4 mt-3">
            <div class="card" style="width: auto;">
                <img src="./img/products/bad michael jackson.webp" class="card-img-top pt-4" alt="...">
                <div class="card-body">
                    <p class="card-text">
                    <div class="d-flex flex-column align-items-center">
                        <h4> Michael Jackson</h4>
                        <h6>Bad</h6>
                        <h6>LP Vinyl</h6>
                        <p style="font-weight: 600;">€30.95</p>
                    </div>
                    </p>
                    <div class=" d-flex  justify-content-center align-items-center glass-container mt-4"
                        id="tastoAcquista">
                        <p class="ms-2" style="font-weight: 300; font-size: small;">ORDINA </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-4 mt-3">
            <div class="card" style="width: auto;">
                <img src="./img/products/beatles past remastered.webp" class="card-img-top pt-4" alt="...">
                <div class="card-body">
                    <p class="card-text">
                    <div class="d-flex flex-column align-items-center">
                        <h4> The Beatles</h4>
                        <h6>Past Masters</h6>
                        <h6>2LP Vinyl</h6>
                        <p style="font-weight: 600;">€52.95</p>
                    </div>
                    </p>
                    <div class=" d-flex  justify-content-center align-items-center glass-container mt-4"
                        id="tastoAcquista">
                        <p class="ms-2" style="font-weight: 300; font-size: small;">ORDINA </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-6 col-lg-4 mt-3">
            <div class="card" style="width: auto;">
                <img src="./img/products/CollegeDropout.webp" class="card-img-top pt-4" alt="...">
                <div class="card-body">
                    <p class="card-text">
                    <div class="d-flex flex-column align-items-center">
                        <h4> Kanye West</h4>
                        <h6>College Dropout</h6>
                        <h6>2LP Vinyl</h6>
                        <p style="font-weight: 600;">€43.95</p>
                    </div>
                    </p>
                    <div class=" d-flex  justify-content-center align-items-center glass-container mt-4"
                        id="tastoAcquista">
                        <p class="ms-2" style="font-weight: 300; font-size: small;">ORDINA </p>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-6 col-lg-4 mt-3">
            <div class="card" style="width: auto;">
                <img src="./img/products/GLOOM DIVISION.webp" class="card-img-top pt-4" alt="...">
                <div class="card-body">
                    <p class="card-text">
                    <div class="d-flex flex-column align-items-center">
                        <h4> IDNHBTFM</h4>
                        <h6>Gloom Division</h6>
                        <h6>LP Vinyl</h6>
                        <p style="font-weight: 600;">€35.95</p>
                    </div>
                    </p>
                    <div class=" d-flex  justify-content-center align-items-center glass-container mt-4"
                        id="tastoAcquista">
                        <p class="ms-2" style="font-weight: 300; font-size: small;">ORDINA </p>
                    </div>
                </div>
            </div>
        </div>

    </div> <!-- fine SEZIONE DISCHI  -->

    <div style="margin: 30px 0px;"></div> <!-- SEPARATORE INVISIBILE -->

    <!-- TITOLO SEZIONE -->
    <div class="col-lg-9 col-sm-12 order-2 m-0 p-0">
        <div class="container m-0 p-0">
            <h2>Potrebbe piacerti anche</h2>
        </div>
    </div>
    <!-- fine TITOLO SESIONE-->

    <div class="separator"></div> <!-- SEPARATORE ESTETICO -->

    <div class="row flex-row justify-content-between "> <!-- SEZIONE DISCHI  -->
        <div class="col-6 col-lg-4 mt-3">
            <div class="card" style="width: auto;">
                <img src="./img/products/whitney houston i will always love you.webp" class="card-img-top pt-4"
                    alt="...">
                <div class="card-body">
                    <p class="card-text">
                    <div class="d-flex flex-column align-items-center">
                        <h4> Whitney Houston</h4>
                        <h6>I Will Always Love You</h6>
                        <h6>2LP Vinyl</h6>
                        <p style="font-weight: 600;">€30.95</p>
                    </div>
                    </p>


                    <div class=" d-flex  justify-content-center align-items-center glass-container mt-4"
                        id="tastoAcquista">
                        <p class="ms-2" style="font-weight: 300; font-size: small;">ORDINA </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-6 col-lg-4 mt-3">
            <div class="card" style="width: auto;">
                <img src="./img/products/pink floyd.webp" class="card-img-top pt-4" alt="...">
                <div class="card-body">
                    <p class="card-text">
                    <div class="d-flex flex-column align-items-center">
                        <h4> Pink Floyd</h4>
                        <h6>Dark Side Of The Moon</h6>
                        <h6>LP Vinyl</h6>
                        <p style="font-weight: 600;">€24.95</p>

                    </div>
                    </p>
                    <div class=" d-flex  justify-content-center align-items-center glass-container mt-4"
                        id="tastoAcquista">
                        <p class="ms-2" style="font-weight: 300; font-size: small;">ORDINA </p>
                    </div>

                </div>
            </div>

        </div>
        <div class="row text-center d-flex align item stretch d-block d-lg-none">
            <div class="col-6 col-lg-4 mt-3">
                <div class="card" style="width: auto;">
                    <img src="./img/products/queen ii.webp" class="card-img-top pt-4" alt="...">
                    <div class="card-body">
                        <p class="card-text">
                        <div class="d-flex flex-column align-items-center">
                            <h4> Queen</h4>
                            <h6>Queen II</h6>
                            <h6>LP Vinyl</h6>
                            <p style="font-weight: 600;">€35.95</p>
                        </div>
                        </p>
                        <div class=" d-flex  justify-content-center align-items-center glass-container mt-4"
                            id="tastoAcquista">
                            <p class="ms-2" style="font-weight: 300; font-size: small;">ORDINA </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg-4 mt-3">
                <div class="card h-100" style="width: auto; height: 100;">
                    <div class="d-flex flex-column align-items-center justify-content-center h-100">
                        <div id="nextpage">
                            <i class="fa-solid fa-arrow-right fs-1"></i>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <p class="ms-2" style="font-weight: 300; font-size: small;">ESPLORA </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6 col-lg-4 mt-3 d-none d-lg-block">
            <div class="card" style="width: auto;">
                <img src="./img/products/queen ii.webp" class="card-img-top pt-4" alt="...">
                <div class="card-body">
                    <p class="card-text">
                    <div class="d-flex flex-column align-items-center">
                        <h4> Queen</h4>
                        <h6>Queen II</h6>
                        <h6>LP Vinyl</h6>
                        <p style="font-weight: 600;">€35.95</p>
                    </div>
                    </p>
                    <div class=" d-flex  justify-content-center align-items-center glass-container mt-4"
                        id="tastoAcquista">
                        <p class="ms-2" style="font-weight: 300; font-size: small;">ORDINA </p>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- fine SEZIONE DISCHI  -->

    <div style="margin: 120px 0px;"></div> <!-- SEPARATORE INVISIBILE -->

</div> <!-- fine COLONNA SCORREVOLE -->
