html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.glass-effect {
  background: rgba(255, 255, 255, 0.1);
  /* White with transparency */
  backdrop-filter: blur(10px);
  /* Apply a blur effect to background */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari */
  border-radius: 15px;
  /* Optional: rounded corners */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Optional: subtle shadow */
  color: white;
  /* Text color */
}

html {
  height: 100%;
  /* Imposta la height del body e html al 100% della finestra */
  margin: 0;
  /* Rimuove eventuali margini di default */
  height: 100%;
  margin: 0;
  overflow: hidden;
  /* Disattiva lo scroll */
}


body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  /* Disattiva lo scroll */
  background-image: url('/img/bg2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(0, 0, 0);
}

.card {
  margin-top: 18vh;
  height: 500px;
  border-radius: 30px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 11px 5px rgba(0, 0, 0, 0.3);
}

.form-control {
  border-radius: 10px;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #0F9D58;
  color: white;
}

a {
  text-decoration: none;
  color: white
}

a:hover{
  text-decoration: underline;
  color: white;
}
.fade {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}